{% extends 'admins/adminlayout.html' %}
{% load static %}

{% block title %}
  <title>Products</title>
{% endblock %}

{% block main_content %}
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        {% for msg in messages %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">{{ msg }}</div>
          {% endif %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">{{ msg }}</div>
          {% endif %}
        {% endfor %}
        <table class="table table-border border-dark table-striped">
          <tr>
            <th>Category</th>
            <th>Action</th>
          </tr>
          {% for c in category %}
            <tr>
              <td>{{ c.category_name }}</td>
              <td>
                <a href="/product/updatecategory/{{ c.id }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                <a href="/product/deletecategory/{{ c.id }}" class="btn btn-danger" onclick="return confirm('Are you want to delete this products')"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
