{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Esewa Payment</title>
{% endblock %}

{% block main_content %}

<div class="container">
    <div class="row d-flex justify-content">
        <div class="col-md-6">
            <h1 class="text-center">
                You are begin to Esewa .......
            </h1>
            <div class="cart" style="display:none">
                <form action="https://uat.esewa.com.np/epay/main" method="POST" id="esewa_form">
                    <input value="{{order.total_price}}" name="tAmt" type="hidden">
                    <input value="{{order.total_price}}" name="amt" type="hidden">
                    <input value="5" name="txAmt" type="hidden">
                    <input value="2" name="psc" type="hidden">
                    <input value="3" name="pdc" type="hidden">
                    <input value="EPAYTEST" name="scd" type="hidden">
                    <input value="ee2c3ca1-696b-4cc5-a6be-2c40d929d453" name="pid" type="hidden">
                    <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su">
                    <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
                    <input value="Submit" type="submit">
                    </form>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        document.getElementById('esewa_form').submit()
    },1000)
</script>

{% endblock %}